@import '~@angular/material/theming';

@include mat-core();
$custom-theme-primary: mat-palette($mat-purple);
$custom-theme-accent:mat-palette($mat-amber);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);

.primary-color {
    color: mat-color($custom-theme-primary) !important;
}

.accent-color {
    color: mat-color($custom-theme-accent) !important;
}
