<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="over" id="sidenav" (swipeleft)="sidenav.toggle()" ngClass.lt-sm="smallNav">
        <app-side-nav (toggleSideNav)="sidenav.toggle()"></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content >
        <div id="header" *ngIf="logged"> 
            <app-header (toggleSideNav)="sidenav.toggle()"></app-header>
        </div>
        <div id="main">
            <router-outlet></router-outlet> 
        </div>
        <div id="footer" *ngIf="logged"> 
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>