.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    #sidenav {
        width: 25%;
        overflow: hidden;
    }

    .smallNav {
        width: 50% !important;
    }

    #main {
        width: 100%;
    }

    #footer {
        width: 100%;
        bottom: 0;
        position: absolute;
    }
}
